<div class="mainContent" ng-controller="ObjectVirtualPoolsCtrl">

	<div class="clear"></div>
	<p id="alerts_success" class="alert alert-success" ng-show="$root.alert.success">
		<button type="button" class="close" ng-click="$root.alert = {}">×</button>
		<span class="message">
			{{ $root.alert.message }}
		</span>
	</p>
	<p id="alerts_error" class="alert alert-danger" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			×
		</button>
		<span class="message"></span>
	</p>
	<p id="alerts_warning" class="alert alert-warning" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			×
		</button>
		<span class="message"></span>
	</p>
	<p id="alerts_info" class="alert alert-info">
		<span class="message">
			This demo may not behave exactly as a properly deployed product. You could add Object Virtual Pools but they may not technically reflect in other areas of the ViPR UI.
		</span>
	</p>
	<div class="section-header pull-left ">
		<h1 class="">Object Virtual Pools</h1>
	</div>

	<div id="objectVirtualPool" class="dataTableContainer">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
			<div class="dataTables_filter" id="DataTables_Table_0_filter">
				<label>
					<input type="text" aria-controls="DataTables_Table_0" class="form-control input-sm search-query" placeholder="Search...">
				</label>
			</div>
			<table class="table table-hover table-condensed table-styled dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
				<thead>
					<tr role="row">
						<th class="selection sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
						<div class="th-wrapper">
							<input type="checkbox" name="selectAll">
						</div></th><th class="name sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
						<div class="th-wrapper">
							Name
						</div></th><th class="description sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending">
						<div class="th-wrapper">
							Description
						</div></th><th class="numMappings sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="# Virtual Arrays: activate to sort column ascending">
						<div class="th-wrapper">
							# Virtual Arrays
						</div></th>
					</tr>
				</thead>

				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr class="odd" ng-repeat="item in objectVirtualPools | slice:(currentPage-1)*rpp:(currentPage*rpp)">
						<td class="selection">
							<input type="checkbox" name="selected">
						</td>
						<td class="name sorting_1"><a ui-sref="EditObjectVirtualPool({vpoolId: {{ item.id}} })">{{ item.name }}</a></td>
						<td class="description">{{ item.description }}</td>
						<td class="numMappings">{{ item.virtualArrays.length }}</td>
					</tr>
				</tbody>
			</table>
			<div class="dataTables_footer">
				<div class="dataTables_paginate paging_bootstrapFirstLast pagination">
					<ul class="pagination pagination-sm">
						<li class="prev disabled">
							<a href="">First</a>
						</li>
						<li class="prev disabled">
							<a href="">←</a>
						</li>
						<li class="active">
							<a href="">1</a>
						</li>
						<li class="next disabled">
							<a href="">→</a>
						</li>
						<li class="next disabled">
							<a href="">Last</a>
						</li>
					</ul>
				</div>
				<div id="DataTables_Table_0_processing" class="dataTables_processing" style="visibility: hidden;">
					<span class="glyphicon glyphicon-refresh rotate "></span>Loading...
				</div>
				<div class="dataTables_info" id="DataTables_Table_0_info">
					Showing {{ (currentPage-1)*rpp+1 }} to {{ currentPage*rpp > totalItems ? totalItems : currentPage*rpp }} of {{ totalItems }} entries
				</div><div class="dataTables_processingError" style="display: none;"></div>
			</div>
		</div>
		<div class="button-bar">
			<button type="button" class="btn btn-success " name="button.add" ui-sref="EditObjectVirtualPool({vpoolId: {{ UID }} })">
				<span class="glyphicon glyphicon-plus "></span> Add
			</button>
			<button type="button" class="btn btn-danger " name="button.delete" disabled="">
				<span class="glyphicon glyphicon-trash "></span> Delete
			</button>
		</div>
	</div>
</div>