<div class="mainContent">
        



<ul class="breadcrumb">  <li>
  <a href="/admin/vCenters/list">vCenters</a> 
  <span class="divider"></span></li>  <li class="active">
  Add vCenter 
  </li></ul>
<div class="container">
<div class="form-header">
  <div class="image">
    <img src="/public/img/assets/VCenter.png">  </div>

        <div class="description">
      <h2>
                Add vCenter      </h2>
            <p>Enter the information needed to connect to a vCenter.</p>    </div>
        <div style="clear:both"></div>
</div>
  <div class="clear"></div>
<p id="alerts_success" class="alert alert-success" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
    <span class="message"></span>
</p>
<p id="alerts_error" class="alert alert-danger" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
    <span class="message"></span>
</p>
<p id="alerts_warning" class="alert alert-warning" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
    <span class="message"></span>
</p>
<p id="alerts_info" class="alert alert-info" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">?</button>
    <span class="message"></span>
</p>

<form action="/admin/vCenters/save" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="vcenterForm" class="form form-horizontal" autocomplete="off"><input type="hidden" name="authenticityToken" value="b1ad100e76ccea28cfba2fdd3a1c82f47da1f052">
          <input type="hidden" name="vCenter.tenantId" value="urn:storageos:TenantOrg:992a41c6-597f-4b0f-8d66-206c11665c13:global">
  
  <fieldset>
  
          <div id="vCenter_nameControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_name">Name:</label>
    <div class="col-sm-6 controls">
      <input type="text" class="form-control span6 initialFocus" id="vCenter_name" name="vCenter.name" value="" autocomplete="off">      </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>    
              
    <div id="vCenter_hostnameControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_hostname">Host:</label>
    <div class="col-sm-6 controls">
      <input type="text" class="form-control span6" id="vCenter_hostname" name="vCenter.hostname" value="" autocomplete="off">    <span class="help-block">Enter the fully qualified domain name or IP address of the host.</span>  </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>    
              
    <div id="vCenter_portControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_port">Port:</label>
    <div class="col-sm-6 controls">
      <input type="text" class="form-control span2" id="vCenter_port" name="vCenter.port" value="443" autocomplete="off">      </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>    
              
    <div id="vCenter_usernameControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_username">Username:</label>
    <div class="col-sm-6 controls">
      <input type="text" class="form-control span6" id="vCenter_username" name="vCenter.username" value="" autocomplete="off">      </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>      
              
    <div id="vCenter_passwordControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_password">Password:</label>
    <div class="col-sm-6 controls">
      <input type="password" class="form-control span6" id="vCenter_password" name="vCenter.password" value="" autocomplete="off">      </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>    
              
    <div id="vCenter_passwordConfirmControlGroup" class="form-group  required">
        <label class="control-label col-sm-3" for="vCenter_passwordConfirm">Confirm Password:</label>
    <div class="col-sm-6 controls">
      <input type="password" class="form-control span6" id="vCenter_passwordConfirm" name="vCenter.passwordConfirm" value="" autocomplete="off">      </div>
  <div class="col-sm-3">
    <span class="help-inline"></span>
      </div>
</div>    
  </fieldset>
  
  <div class="form-group button-bar">
  <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-large " name="button.save">
  <span class="glyphicon glyphicon-ok-sign "></span>  Save  </button>  <button type="button" class="btn btn-default btn-large " name="button.cancel">
  <span class="glyphicon glyphicon-trash "></span>  Cancel  </button>  <span class="extraButtons">
          <label id="validateConnectionLabel" class="checkbox inline" style="margin-left: 10px;">
    <input name="validateConnection" type="checkbox" value="true" checked="checked">
    Validate Connection on Save
  </label>
    </span>
  </div>
</div>
</form>

</div>
  </div>