<div class="modal-body">
	<h3>
		ViPR Interactive Demo
	</h3>
	<p>
		To get started:
	</p>
	<ul>
		<li>
			<mark><strong>How-to Videos</strong></mark> - Click this menu above to review any video with specific usage instructions.
		</li>
		<li>
			<mark><strong>Behind the Scenes</strong></mark> - This button on the bottom (wherever it is enabled) will show an in-depth tour of the current screen.
		</li>
		<li>
			<mark><strong>Request a Quote</strong></mark> - You can get contacted by our representatives by clicking this button.
		</li>
	</ul>
	<p class="small">
		<input id="showMsg" name="showMsg" type="checkbox" value="show" ng-click="toggleShow()" ng-model="showWelcome"/> Show this message again when I revisit
	</p>
	<p class="pull-right">
		<button class="btn btn-primary" data-dismiss="modal" ng-click="hideWelcomeMsg()" type="button">Close</button>
	</p>
</div>