<div class="mainContent">
    <div class="clear"></div>
    <p id="alerts_success" class="alert alert-success" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_error" class="alert alert-danger" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_warning" class="alert alert-warning" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_info" class="alert alert-info" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <div class="section-header pull-left ">
        <h1 class="">Approvals</h1>
    </div>
    <div id="approvalsTable" class="dataTableContainer">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="dataTables_filter" id="DataTables_Table_0_filter">
                <label>
                    <input type="text" aria-controls="DataTables_Table_0" class="form-control input-sm search-query" placeholder="Search..." ng-model="query">
                </label>
            </div>
            <table class="table table-hover table-condensed table-styled dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="orderNumber sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Number: activate to sort column ascending">
                            <div class="th-wrapper">Number</div>
                        </th>
                        <th class="serviceTitle sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Service: activate to sort column ascending">
                            <div class="th-wrapper">Service</div>
                        </th>
                        <th class="status sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                            <div class="th-wrapper">Status</div>
                        </th>
                        <th class="orderUserName sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Submitted By: activate to sort column ascending">
                            <div class="th-wrapper">Submitted By</div>
                        </th>
                        <th class="createdDate sorting_desc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Submit Date: activate to sort column ascending">
                            <div class="th-wrapper">Submit Date</div>
                        </th>
                        <th class="approvedBy sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Approver: activate to sort column ascending">
                            <div class="th-wrapper">Approver</div>
                        </th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd">
                        <td valign="top" colspan="6" class="dataTables_empty">No results</td>
                    </tr>
                </tbody>
            </table>
            <div class="dataTables_footer">
                <div class="dataTables_paginate paging_bootstrapFirstLast pagination">
                    <ul class="pagination pagination-sm">
                        <li class="prev disabled"><a href="">First</a>
                        </li>
                        <li class="prev disabled"><a href="">←</a>
                        </li>
                        <li class="next disabled"><a href="">→</a>
                        </li>
                        <li class="next disabled"><a href="">Last</a>
                        </li>
                    </ul>
                </div>
                <div id="DataTables_Table_0_processing" class="dataTables_processing" style="visibility: hidden;">
                    <span class="glyphicon glyphicon-refresh rotate "></span>Loading...</div>
                <div class="dataTables_info" id="DataTables_Table_0_info">Showing 0 to 0 of 0 entries</div>
                <div class="dataTables_processingError" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>
