<div class="mainContent">
    <form action="" method="" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="selectTenantForm" class="form form-inline">
        <input type="hidden" name="authenticityToken" value="16d5a641e9658742aff61b4d63c5b8f2299e33ae">
        <input type="hidden" name="url" value="/scheduledorders/list">
        <div class="well well-sm">
            <span class="tenant-select">
                <label for="tenantId">Tenant:</label>
                <select id="tenantId" name="tenantId" class="form-control input-sm" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false">
                    <option value="urn:storageos:TenantOrg:32cfe166-e3bc-4e7d-bf59-7abc1884aac0:global" selected="selected">Provider Tenant</option>
                    <option value="urn:storageos:TenantOrg:98e02901-0a68-4ba5-bd1e-5de27999e942:global">RainPole Tenant</option>
                </select>
            </span>
        </div>
    </form>
    <p class="clear alert alert-info">
        <span class="badge badge-info">
            <span class="glyphicon glyphicon-time "></span>
        </span>
        There are NO Execution windows currently scheduled
    </p>
    <div class="clear"></div>
    <p id="alerts_success" class="alert alert-success" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_error" class="alert alert-danger" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_warning" class="alert alert-warning" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <p id="alerts_info" class="alert alert-info" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="message"></span>
    </p>
    <div class="section-header pull-left ">
        <h1 class="">Scheduled Orders</h1>
    </div>
    <div id="scheduledOrders" class="dataTableContainer">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="dataTables_filter" id="DataTables_Table_0_filter">
                <label>
                    <input type="text" aria-controls="DataTables_Table_0" class="form-control input-sm search-query" placeholder="Search..." ng-model="query">
                </label>
            </div>
            <table class="table table-hover table-condensed table-styled dataTable editableRows" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="selection sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                            <div class="th-wrapper">
                                <input type="checkbox" name="selectAll">
                            </div>
                        </th>
                        <th class="number sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Number: activate to sort column ascending">
                            <div class="th-wrapper">Number</div>
                        </th>
                        <th class="status sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                            <div class="th-wrapper">Status</div>
                        </th>
                        <th class="service sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Service: activate to sort column ascending">
                            <div class="th-wrapper">Service</div>
                        </th>
                        <th class="summary sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Summary: activate to sort column ascending">
                            <div class="th-wrapper">Summary</div>
                        </th>
                        <th class="submittedBy sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Submitted By: activate to sort column ascending">
                            <div class="th-wrapper">Submitted By</div>
                        </th>
                        <th class="createdDate sorting_desc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Date Submitted: activate to sort column ascending">
                            <div class="th-wrapper">Date Submitted</div>
                        </th>
                        <th class="executionWindow sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Execution Window">
                            <div class="th-wrapper">Execution Window</div>
                        </th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd">
                        <td valign="top" colspan="8" class="dataTables_empty">No results</td>
                    </tr>
                </tbody>
            </table>
            <div class="dataTables_footer">
                <div class="dataTables_paginate paging_bootstrapFirstLast pagination">
                    <ul class="pagination pagination-sm">
                        <li class="prev disabled"><a href="">First</a>
                        </li>
                        <li class="prev disabled"><a href="">←</a>
                        </li>
                        <li class="next disabled"><a href="">→</a>
                        </li>
                        <li class="next disabled"><a href="">Last</a>
                        </li>
                    </ul>
                </div>
                <div id="DataTables_Table_0_processing" class="dataTables_processing" style="visibility: hidden;">
                    <span class="glyphicon glyphicon-refresh rotate "></span>Loading...</div>
                <div class="dataTables_info" id="DataTables_Table_0_info">Showing 0 to 0 of 0 entries</div>
                <div class="dataTables_processingError" style="display: none;"></div>
            </div>
        </div>
        <div class="button-bar">
            <button type="button" class="btn btn-danger " name="button.cancel" data-enabled="selected" data-form="cancelForm" disabled="">
                <span class="glyphicon glyphicon-ban-circle "></span>&nbsp; Cancel
            </button>
        </div>
    </div>
    <form action="" method="" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="cancelForm" class="hide">
        <input type="hidden" name="ids">
    </form>
</div>
