<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 9">
    <ul class="breadcrumb breadcrumb-navbar">
        <li><a href="" ui-sref="catalog">Service Catalog</a>
            <span class="divider"></span>
        </li>
        <li><a href="" ui-sref="BlockStorageServices">Block Storage Services</a>
            <span class="divider"></span>
        </li>
        <li class="active">Ingest Unmanaged Volumes</li>
    </ul>
    <div class="container">
        <div class="form-header">
            <div class="image">
                <img class="" src="/img/serviceCatalog/Service_Ingest_Unmanaged_Volumes.png">
            </div>
            <div class="description">
                <h2>Ingest Unmanaged Volumes</h2>
                <p>Import unmanaged volumes to bring them under management of ViPR</p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <p id="alerts_success" class="alert alert-success" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_error" class="alert alert-danger" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_warning" class="alert alert-warning" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_info" class="alert alert-info" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <!-- asset error -->
        <div id="assetError" class="alert alert-danger" style="display:none;">
            <button type="button" class="close">×</button>
            <div id="assetErrorMessage" style="white-space: pre-line;"></div>
        </div>
        <form id="serviceForm" ng-submit="submit()" class="form-horizontal">
            <div id="storageSystemsControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="storageSystems" set-model="data.details[0].name">Storage Systems:</label>
                <div class="col-sm-6 controls">
                    <select id="storageSystems" name="storageSystems" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[0].value">
                        <option value="CLARIION+APM12310359509">CLARIION+APM12310359509</option>
                        <option value="CLARIION+APM12346547795">CLARIION+APM12346547795</option>
                        <option value="CLARIION+APM12380127239">CLARIION+APM12380127239</option>
                        <option value="CLARIION+APM12381623880">CLARIION+APM12381623880</option>
                        <option value="CLARIION+APM12391522735">CLARIION+APM12391522735</option>
                        <option value="SYMMETRIX+999000414197">SYMMETRIX+999000414197</option>
                        <option value="SYMMETRIX+999024668923">SYMMETRIX+999024668923</option>
                        <option value="SYMMETRIX+999316031302">SYMMETRIX+999316031302</option>
                        <option value="SYMMETRIX+999334388821">SYMMETRIX+999334388821</option>
                        <option value="SYMMETRIX+999595867618">SYMMETRIX+999595867618</option>
                        <option value="VPLEX+FNM00130900300:FNM00130900301">VPLEX+FNM00130900300:FNM00130900301</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="virtualArrayControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="virtualArray" set-model="data.details[1].name">Virtual Array:</label>
                <div class="col-sm-6 controls">
                    <select id="virtualArray" name="virtualArray" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false"  ng-model="data.details[1].value">
                        <option value="VirtualArray-1">VirtualArray-1</option>
                        <option value="VirtualArray-2">VirtualArray-2</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                    <span class="loading hide">
                        <span class="glyphicon glyphicon-refresh rotate "></span>
                    </span>
                </div>
            </div>
            <div id="virtualPoolControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="virtualPool" set-model="data.details[2].name">Virtual Pool:</label>
                <div class="col-sm-6 controls">
                    <select id="virtualPool" name="virtualPool" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[2].value">
                        <option value="pool2">pool2</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="projectControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="project" set-model="data.details[3].name">Project:</label>
                <div class="col-sm-6 controls">
                    <select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[3].value">
                        <option value="Engineering">Engineering</option>
                        <option value="Marketing">Marketing</option>
                        <option value="QA">QA</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group button-bar">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-large " name="service.order">
                        <span class="glyphicon glyphicon-shopping-cart "></span>&nbsp;Order</button>
                    <button type="button" class="btn btn-default btn-large " name="button.cancel" ng-click="cancel()">
                        <span class="glyphicon glyphicon-trash "></span>&nbsp;Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
