<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 46">
    <ul class="breadcrumb breadcrumb-navbar">
        <li><a ui-sref="catalog">Service Catalog</a>
            <span class="divider"></span>
        </li>
        <li><a ui-sref="BlockServicesVMware">Block Services for VMware vCenter</a>
            <span class="divider"></span>
        </li>
        <li class="active">Extend Datastore with New Volume</li>
    </ul>
    <div class="container" ng-controller="BlockCtrl">
        <div class="form-header">
            <div class="image">
                <img class="" src="/img/serviceCatalog/icon_provision_VMware_expand.png">
            </div>
            <div class="description">
                <h2>Extend Datastore with New Volume</h2>
                <p>Extend a VMware Datastore with a new block volume.</p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <p id="alerts_success" class="alert alert-success" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_error" class="alert alert-danger" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_warning" class="alert alert-warning" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_info" class="alert alert-info" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <!-- asset error -->
        <div id="assetError" class="alert alert-danger" style="display:none;">
            <button type="button" class="close">×</button>
            <div id="assetErrorMessage" style="white-space: pre-line;"></div>
        </div>
        <form id="serviceForm" class="form-horizontal" ng-submit="submit()">
            <div id="vcenterControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="vcenter" set-model="data.details[0].name">vCenter:</label>
                <div class="col-sm-6 controls">
                    <select id="vcenter" name="vcenter" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[0].value">
                        <option value="vCenter">vCenter</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="datacenterControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="datacenter" set-model="data.details[1].name">Datacenter:</label>
                <div class="col-sm-6 controls">
                    <select id="datacenter" name="datacenter" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[1].value">
                        <option value="RainPole Datacenter">RainPole Datacenter</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="blockStorageTypeControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="blockStorageType" set-model="data.details[2].name">Storage Type:</label>
                <div class="col-sm-6 controls">
                    <select id="blockStorageType" name="blockStorageType" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[2].value">
                        <option value="Exclusive">Exclusive</option>
                        <option value="Shared">Shared</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                    <span class="loading hide">
                        <span class="glyphicon glyphicon-refresh rotate "></span>
                    </span>
                </div>
            </div>
            <div id="hostControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="host" set-model="data.details[3].name">ESX Host/Cluster:</label>
                <div class="col-sm-6 controls" ng-init="hosts = getHosts({operatingSystem: 'Esx'})">
                    <select id="host" name="host"
                            chosen="{inherit_select_classes:true}"
                            disable-search="true"
                            class="form-control span6"
                            ng-options="host.name as host.name for host in hosts"
                            ng-model="data.details[3].value">
                        <option value=""></option>
                    </select>
                    <span class="help-block">Host or cluster to allocate storage to</span>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="datastoreNameControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="datastoreName" set-model="data.details[4].name">Datastore:</label>
                <div class="col-sm-6 controls">
                    <select id="datastoreName" name="datastoreName" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[4].value">
                        <option value="Datastore #1">Datastore #1</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="virtualArrayControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="virtualArray" set-model="data.details[5].name">Virtual Array:</label>
                <div class="col-sm-6 controls">
                    <select id="virtualArray" name="virtualArray" class="form-control span6"
                            chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true"
                            allow-single-deselect="false"
                            ng-options="blockVirtualArray.name as blockVirtualArray.name for blockVirtualArray in data.blockVirtualArrays"
                            ng-model="data.details[5].value">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="virtualPoolControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="virtualPool" set-model="data.details[6].name">Virtual Pool:</label>
                <div class="col-sm-6 controls">
                    <select id="virtualPool" name="virtualPool" class="form-control span6"
                            chosen="{inherit_select_classes:true}"
                            data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false"
                            ng-options="blockVirtualPool.name as blockVirtualPool.name for blockVirtualPool in data.blockVirtualPools"
                            ng-model="data.details[6].value">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="projectControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="project" set-model="data.details[7].name">Project:</label>
                <div class="col-sm-6 controls">
                    <select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[7].value">
                        <option value="Engineering">Engineering</option>
                        <option value="Marketing">Marketing</option>
                        <option value="QA">QA</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="nameControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="name" set-model="data.details[8].name">Name:</label>
                <div class="col-sm-6 controls">
                    <input type="text" class="form-control span6" id="name" name="name" value="" autocomplete="off" maxlength="128" ng-model="data.details[8].value">
                    <span class="help-block">User assigned description of the volume</span>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="consistencyGroupControlGroup" class="form-group" ng-controller="ConsistencyGroupsCtrl">
                <label class="control-label col-sm-3" for="consistencyGroup" set-model="data.details[9].name">Consistency Group:</label>
                <div class="col-sm-6 controls">
                    <select id="consistencyGroup" name="consistencyGroup" class="form-control span6"
                            chosen="{inherit_select_classes:true}"
                            data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false"
                            ng-options="consistencyGroups.name as consistencyGroups.name for consistencyGroups in consistencyGroups"
                            ng-model="data.details[9].value">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="sizeControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="size" set-model="data.details[10].name">Size (GB):</label>
                <div class="col-sm-6 controls">
                    <input type="text" class="form-control span2" id="size" name="size" value="" autocomplete="off" maxlength="18"  ng-model="data.details[10].value">
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group button-bar">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-large " name="service.order">
                        <span class="glyphicon glyphicon-shopping-cart "></span>&nbsp;Order</button>
                    <button type="button" class="btn btn-default btn-large " name="button.cancel" ng-click="cancel()">
                        <span class="glyphicon glyphicon-trash "></span>&nbsp;Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
