<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 12">
    <ul class="breadcrumb breadcrumb-navbar">
        <li><a href="" ui-sref="catalog">Service Catalog</a>
            <span class="divider"></span>
        </li>
        <li><a href="" ui-sref="BlockStorageServices">Block Storage Services</a>
            <span class="divider"></span>
        </li>
        <li class="active">Change Virtual Array</li>
    </ul>
    <div class="container">
        <div class="form-header">
            <div class="image">
                <img class="" src="/img/serviceCatalog/Service_Change_Virtual_Array.png">
            </div>
            <div class="description">
                <h2>Change Virtual Array</h2>
                <p>Move a VPLEX local volume to a different virtual array (virtual arrays must have connectivity via VPLEX)</p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <p id="alerts_success" class="alert alert-success" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_error" class="alert alert-danger" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_warning" class="alert alert-warning" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_info" class="alert alert-info" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <!-- asset error -->
        <div id="assetError" class="alert alert-danger" style="display:none;">
            <button type="button" class="close">×</button>
            <div id="assetErrorMessage" style="white-space: pre-line;"></div>
        </div>
        <form id="serviceForm" ng-submit="submit()" class="form-horizontal">
            <div id="projectControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="project" set-model="data.details[0].name">Project:</label>
                <div class="col-sm-6 controls">
                    <select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[0].value">
                        <option value="Engineering">Engineering</option>
                        <option value="Marketing">Marketing</option>
                        <option value="QA">QA</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="volumesControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="volumes" set-model="data.details[1].name">Volume:</label>
                <div class="col-sm-6 controls">
                    <select id="volumes" name="volumes" class="form-control span6" ng-model="data.details[1].value" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false">
                        <option value="Volume1">Volume1</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="targetVirtualArrayControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="targetVirtualArray" set-model="data.details[2].name">Target Virtual Array:</label>
                <div class="col-sm-6 controls">
                    <select id="targetVirtualArray" name="targetVirtualArray" class="form-control span6" ng-model="data.details[2].value" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false">
                        <option value="VirtualArray-1">VirtualArray-1</option>
                        <option value="VirtualArray-2">VirtualArray-2</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group button-bar">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-large " name="service.order">
                        <span class="glyphicon glyphicon-shopping-cart "></span>&nbsp;Order</button>
                    <button type="button" class="btn btn-default btn-large " name="button.cancel" ng-click="cancel()">
                        <span class="glyphicon glyphicon-trash "></span>&nbsp;Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
