<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 53">
	<ul class="breadcrumb breadcrumb-navbar">
		<li><a href="" ui-sref="catalog">Service Catalog</a>
			<span class="divider"></span>
		</li>
		<li><a href="" ui-sref="FileServicesVMware">File Services for VMware vCenter</a>
			<span class="divider"></span>
		</li>
		<li class="active">Create VMware NFS Datastore</li>
	</ul>
	<div class="container" ng-controller="FileCtrl">
		<div class="form-header">
			<div class="image">
				<img class="" src="/img/serviceCatalog/icon_storage_VMware_add.png">
			</div>
			<div class="description">
				<h2>Create VMware NFS Datastore</h2>
				<p>Create a VMware Datastore using existing NFS storage</p>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		<p id="alerts_success" class="alert alert-success" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_error" class="alert alert-danger" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_warning" class="alert alert-warning" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_info" class="alert alert-info" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<!-- asset error -->
		<div id="assetError" class="alert alert-danger" style="display:none;">
			<button type="button" class="close">×</button>
			<div id="assetErrorMessage" style="white-space: pre-line;"></div>
		</div>
		<form id="serviceForm" class="form-horizontal" ng-submit="submit()">
			<div id="datastoreNameControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="datastoreName" set-model="data.details[0].name">Datastore Name:</label>
				<div class="col-sm-6 controls">
					<input type="text" class="form-control span6" id="datastoreName" name="datastoreName" value="" autocomplete="off" maxlength="128" ng-model="data.details[0].value">
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="vcenterControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="vcenter" set-model="data.details[1].name">vCenter:</label>
				<div class="col-sm-6 controls">
					<select id="vcenter" name="vcenter" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[1].value">
						<option value=""></option>
						<option value="vCenter">vCenter</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="datacenterControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="datacenter" set-model="data.details[2].name">Datacenter:</label>
				<div class="col-sm-6 controls">
					<select id="datacenter" name="datacenter" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[2].value">
						<option value=""></option>
						<option value="RainPole Datacenter">RainPole Datacenter</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="blockStorageTypeControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="blockStorageType" set-model="data.details[3].name">Storage Type:</label>
				<div class="col-sm-6 controls">
					<select id="blockStorageType" name="blockStorageType" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[3].value">
						<option value=""></option>
						<option value="Exclusive">Exclusive</option>
						<option value="Shared" selected="selected">Shared</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="hostControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="host" set-model="data.details[4].name">ESX Host/Cluster:</label>
				<div class="col-sm-6 controls">
					<select id="host" name="host" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[4].value">
						<option value=""></option>
						<option value="Hyper-V-Cluster.vLab.local">Hyper-V-Cluster.vLab.local</option>
						<option value="RainPole Cluster [RainPole Datacenter]">RainPole Cluster [RainPole Datacenter]</option>
						<option value="ws_cluster">ws_cluster</option>
					</select>
					<span class="help-block">Host or cluster to allocate storage to.</span>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="projectControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="project" set-model="data.details[5].name">Project:</label>
				<div class="col-sm-6 controls">
					<select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[5].value">
						<option value=""></option>
						<option value="Engineering">Engineering</option>
						<option value="Marketing">Marketing</option>
						<option value="QA">QA</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="fileSystemsControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="fileSystems" set-model="data.details[6].name">File System:</label>
				<div class="col-sm-6 controls">
					<select id="fileSystems" name="fileSystems" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[6].value">
						<option value=""></option>
						<option value="ntfs">ntfs</option>
						<option value="fat32">fat32</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="exportNameControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="exportName" set-model="data.details[7].name">Export:</label>
				<div class="col-sm-6 controls">
					<select id="exportName" name="exportName" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[7].value">
						<option value=""></option>
						<option value="Volume #1">Volume #1</option>
					</select>
					<span class="help-block">Exports created with root permissions are required to create a VMware NFS Datastore</span>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="form-group button-bar">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-primary btn-large " name="service.order">
						<span class="glyphicon glyphicon-shopping-cart "></span>&nbsp;Order</button>
					<button type="button" class="btn btn-default btn-large " name="button.cancel" ng-click="cancel()">
						<span class="glyphicon glyphicon-trash "></span>&nbsp;Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
