<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 0; data.details[9].value = -1;">
	<ul class="breadcrumb breadcrumb-navbar">
		<li><a ui-sref="catalog">Service Catalog</a>
			<span class="divider"></span>
		</li>
		<li><a ui-sref="BlockStorageServices">Block Storage Services</a>
			<span class="divider"></span>
		</li>
		<li class="active">Create Block Volume for a Host</li>
	</ul>
	<div class="container" ng-controller="BlockCtrl">
		<div class="form-header">
			<div class="image">
				<img class="" src="/img/serviceCatalog/icon_array_host_add.png">
			</div>
			<div class="description">
				<h2>Create Block Volume for a Host</h2>
				<p>Create block volume and export it for a host</p>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="clear"></div>
		<div class="clear"></div>
		<p id="alerts_success" class="alert alert-success" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_error" class="alert alert-danger" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_warning" class="alert alert-warning" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<p id="alerts_info" class="alert alert-info" style="display:none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<span class="message"></span>
		</p>
		<!-- asset error -->
		<div id="assetError" class="alert alert-danger" style="display:none;">
			<button type="button" class="close">×</button>
			<div id="assetErrorMessage" style="white-space: pre-line;"></div>
		</div>
		<form id="serviceForm" ng-submit="submit()" class="form-horizontal">
			<input id="formAction" type="hidden" name="action" value="">
			<div id="storageTypeControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="storageType" set-model="data.details[0].name">Storage Type:</label>
				<div class="col-sm-6 controls">
					<select id="storageType" name="storageType" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[0].value">
						<option value=""></option>
						<option value="Exclusive" selected="selected">Exclusive</option>
						<option value="Shared">Shared</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="hostControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="host" set-model="data.details[1].name">Host:</label>
				<div class="col-sm-6 controls">
					<select id="host" name="host" 
						chosen="{inherit_select_classes:true}"
						disable-search="true"
						class="form-control span6"
						ng-options="host.name as host.name for host in hosts"
						ng-model="data.details[1].value">
						<option value=""></option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="virtualArrayControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="virtualArray" set-model="data.details[2].name">Virtual Array:</label>
				<div class="col-sm-6 controls">
					<select id="virtualArray" name="virtualArray" class="form-control span6" 
						chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" 
						allow-single-deselect="false" 
						ng-options="blockVirtualArray.name as blockVirtualArray.name for blockVirtualArray in data.blockVirtualArrays"
						ng-model="data.details[2].value">
						<option value=""></option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="virtualPoolControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="virtualPool" set-model="data.details[3].name">Virtual Pool:</label>
				<div class="col-sm-6 controls">
					<select id="virtualPool" name="virtualPool" class="form-control span6" 
						chosen="{inherit_select_classes:true}" 
						data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" 
						ng-options="blockVirtualPool.name as blockVirtualPool.name for blockVirtualPool in data.blockVirtualPools"
						ng-model="data.details[3].value">
						<option value=""></option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="projectControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="project" set-model="data.details[4].name">Project:</label>
				<div class="col-sm-6 controls">
					<select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[4].value">
						<option value=""></option>
						<option value="Engineering">Engineering</option>
						<option value="Marketing">Marketing</option>
						<option value="QA">QA</option>
					</select>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="nameControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="name" set-model="data.details[5].name">Name:</label>
				<div class="col-sm-6 controls">
					<input type="text" class="form-control span6" id="name" name="name" value="" autocomplete="off" maxlength="128" ng-model="data.details[5].value">
					<span class="help-block">User assigned description of the volume</span>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="consistencyGroupControlGroup" class="form-group" ng-controller="ConsistencyGroupsCtrl">
				<label class="control-label col-sm-3" for="consistencyGroup" set-model="data.details[6].name">Consistency Group:</label>
				<div class="col-sm-6 controls">
					<select id="consistencyGroup" name="consistencyGroup" class="form-control span6"
						chosen="{inherit_select_classes:true}"
						data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false"
						ng-options="consistencyGroups.name as consistencyGroups.name for consistencyGroups in consistencyGroups"
						ng-model="data.details[6].value">
						<option value=""></option>
					</select>
					<span class="help-block">Consistency Group is required when creating RecoverPoint volumes</span>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
					<span class="loading hide">
						<span class="glyphicon glyphicon-refresh rotate "></span>
					</span>
				</div>
			</div>
			<div id="numberOfVolumesControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="numberOfVolumes" set-model="data.details[7].name">Number Of Volumes:</label>
				<div class="col-sm-6 controls">
					<input type="text" class="form-control span2" id="numberOfVolumes" name="numberOfVolumes" value="1" autocomplete="off" maxlength="18" ng-model="data.details[7].value">
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="sizeControlGroup" class="form-group  required">
				<label class="control-label col-sm-3" for="size" set-model="data.details[8].name">Size (GB):</label>
				<div class="col-sm-6 controls">
					<input type="text" class="form-control span2" id="size" name="size" value="" autocomplete="off" maxlength="18" ng-model="data.details[8].value">
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="hluControlGroup" class="form-group  ">
				<label class="control-label col-sm-3" for="hlu" set-model="data.details[9].name">HLU:</label>
				<div class="col-sm-6 controls">
					<input type="text" class="form-control span2" id="hlu" name="hlu" value="-1" autocomplete="off" maxlength="18" ng-model="data.details[9].value">
					<span class="help-block">Host logical unit number for this volume. A value of '-1' means automatically assign.</span>
				</div>
				<div class="col-sm-3">
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="form-group button-bar">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-primary btn-large " name="service.order">
						<span class="glyphicon glyphicon-shopping-cart "></span>Order</button>
					<button type="button" class="btn btn-default btn-large " name="button.cancel" ng-click="cancel()">
						<span class="glyphicon glyphicon-trash "></span>Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
