<div class="mainContent" ng-controller="GenericOrderFormCtrl" ng-init="data.orderTypeId = 28">
    <ul class="breadcrumb breadcrumb-navbar">
        <li><a ui-sref="catalog">Service Catalog</a>
            <span class="divider"></span>
        </li>
        <li><a ui-sref="FileStorageServices">File Storage Services</a>
            <span class="divider"></span>
        </li>
        <li class="active">Remove File System</li>
    </ul>
    <div class="container" ng-controller="FileCtrl">
        <div class="form-header">
            <div class="image">
                <img class="" src="/img/serviceCatalog/icon_NASstorage_remove.png">
            </div>
            <div class="description">
                <h2>Remove File System</h2>
                <p>Remove a file system</p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <p id="alerts_success" class="alert alert-success" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_error" class="alert alert-danger" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_warning" class="alert alert-warning" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <p id="alerts_info" class="alert alert-info" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="message"></span>
        </p>
        <!-- asset error -->
        <div id="assetError" class="alert alert-danger" style="display:none;">
            <button type="button" class="close">×</button>
            <div id="assetErrorMessage" style="white-space: pre-line;"></div>
        </div>
        <form id="serviceForm" class="form-horizontal" ng-submit="submit()">
            <div id="projectControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="project" set-model="data.details[0].name">Project:</label>
                <div class="col-sm-6 controls">
                    <select id="project" name="project" class="form-control span6" chosen="{inherit_select_classes:true}" data-placeholder="Select an Option" disable-search="true" allow-single-deselect="false" ng-model="data.details[0].value">
                        <option value="Engineering">Engineering</option>
                        <option value="Marketing">Marketing</option>
                        <option value="QA">QA</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                    <span class="loading hide">
                        <span class="glyphicon glyphicon-refresh rotate "></span>
                    </span>
                </div>
            </div>
            <div id="fileSystemsControlGroup" class="form-group  required">
                <label class="control-label col-sm-3" for="fileSystems" set-model="data.details[1].name">File System:</label>
                <div class="col-sm-6 controls">
                    <div class="selectMany span6 ">
                        <div id=fileSystems" name="fileSystems" class="selectManyContent">
                            <div class="checkbox" ng-repeat='item in data.fileSystems'>
                                <label>
                                    <input name="fileSystems" type="checkbox" value="{{ item.id }}" ng-model="data.details[1].value[item.name]">{{ item.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="help-inline"></span>
                    <span class="loading hide">
                        <span class="glyphicon glyphicon-refresh rotate "></span>
                    </span>
                </div>
            </div>
            <div class="alert alert-warning">
                <span class="label label-warning">
                    <span class="glyphicon glyphicon-exclamation-sign "></span>
                </span>
                This service performs an operation that can result in data loss.
            </div>
            <div class="form-group button-bar">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-large " name="service.order">
                        <span class="glyphicon glyphicon-shopping-cart "></span>&nbsp;Order</button>
                    <button type="button" class="btn btn-default btn-large " name="button.cancel">
                        <span class="glyphicon glyphicon-trash " ng-click="cancel()"></span>&nbsp;Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
